*.tsx @hevayo @gigara @tharindulak
*.css @hevayo @gigara @tharindulak
*.scss @hevayo @gigara @tharindulak
/workspaces/common-libs/ @hevayo @gigara @tharindulak
/workspaces/mi/ @hevayo @gigara @kaumini
/workspaces/ballerina/ballerina-core/src/interfaces/extended-lang-client.ts @hevayo @axewilledge @kanushka
/workspaces/ballerina/ballerina-rpc-client @hevayo @axewilledge @kanushka
/workspaces/choreo/ @kaje94
/workspaces/wso2-platform/ @kaje94
* @hevayo @gigara