*.tsx @hevayo @gigara @tharindulak
*.css @hevayo @gigara @tharindulak
*.scss @hevayo @gigara @tharindulak
.trivyignore @hevayo @gigara
package.json @hevayo @gigara @kanushka
package-lock.json @hevayo @gigara @kanushka
pnpm-lock.yaml @hevayo @gigara @kanushka
pnpm-workspace.yaml @hevayo @gigara @kanushka
rush.json @hevayo @gigara @kanushka
/common/ @hevayo @gigara @kanushka
/workspaces/common-libs/ @hevayo @gigara @tharindulak
/workspaces/mi/ @hevayo @gigara @kaumini
/workspaces/ballerina/ballerina-core/src/interfaces/extended-lang-client.ts @hevayo @axewilledge @kanushka
/workspaces/ballerina/ballerina-rpc-client @hevayo @axewilledge @kanushka
/workspaces/choreo/ @kaje94
/workspaces/wso2-platform/ @kaje94
* @hevayo @gigara