# Need to create a .env file within the choreo-extension workspace in order to run E2E tests
# Please check the following document for the test user password and github personal access token for the test user
# https://docs.google.com/document/d/1Grx6hjeNPDhEeJIfkijBmXkjbK_yoBrcIU9mhQOyY-A/edit?pli=1
TEST_CHOREO_EXT_ENV=dev
