name: Test PR

on: 
  workflow_dispatch:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

concurrency: 
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  Build:
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/build.yml
    secrets: inherit  
    with:
      runOnAWS: ${{ contains(github.event.pull_request.labels.*.name, 'Runner/AWS') }}
      enableE2ETests: ${{ contains(github.event.pull_request.labels.*.name, 'Checks/Enable UI Tests') }}
      runBIE2ETests: ${{ contains(github.event.pull_request.labels.*.name, 'Checks/Run BI UI Tests') || github.base_ref == 'stable/bi' || github.base_ref == 'stable/ballerina' }}
      runMIE2ETests: ${{ contains(github.event.pull_request.labels.*.name, 'Checks/Run MI UI Tests') || github.base_ref == 'stable/mi' }}
